{% extends 'base.html' %}


{% block title %} Seja bem vindo {% endblock %}

{% block main %}

    <a href="{% url 'trades'%}">Voltar</a>


    <div class="container" id="showtrade">
        <div class="row">
                <div class="col" id="showtrade_user">
                    <img src="/media/{{scamber.avatar}}">
                        <div id="datauser">
                            <h4>Scamber</h4>
                            <ul class="list-unstyled" id="scamber">
                                <li><p><strong>Nome: </strong>{{user.first_name}} {{user.last_name}}</p></li>
                                <p><strong>Etec:</strong> {{scamber.etec}}</p>
                                <p><strong>Curso:</strong> {{scamber.course}} </p>
                                <p><strong>Email:</strong> {{user.email}} </p>
                                <p><strong>Whats:</strong> {{scamber.whats}} </p>
                                </li>
                            </ul>
                        </div>
                </div>
        </div>

        <ul class="list-unstyled">
            <div class="row" id="tradeitems">

                <div class="col-sm" id="item1">
                    <img class="mr-3" src="/media/{{trade.mainimg}} " alt="Generic placeholder image">
                    <div class="trade_title"><strong><h4>{{ trade.title }}</h4></strong></div>
                    <div class="trade_subtitle"><h6>{{trade.subtitle}} </h6></div>
                    <div class="trade_description"><p>{{trade.description}}</p></div>
                </div>

                <div class="col-sm" id="item2">
                    <img class="mr-3" src="/media/{{trade.interestimg}} " alt="Generic placeholder image">
                    <div class="trade_title"><strong><h4>{{ trade.interest }}</h4></strong></div>
                    <div class="trade_subtitle"><h6>{{trade.subinterest}} </h6></div>
                    <div class="trade_description"><p>{{trade.interestdetails}}</p></div>
                </div>

            </div>
        </ul>
    </div>


{% endblock %}

{% block footer %}{% endblock %}
