{% extends 'base.html' %}


{% block title %} Seja bem vindo {% endblock %}

{% block main %}

    <a href="{% url 'trades'%}">Voltar</a>



    <div class="container">

      <div class="row">
        <div class="col" id="showtrade_user">
          <h2>Dados do Scamber</h2>
            <img src="/media/{{scamber.avatar}}">
            <ul>
                <li><p><strong>Nome: </strong>{{user.first_name}} {{user.last_name}}</p></li>
                <li><p><strong>Etec:</strong> {{scamber.etec}}</p></li>
                <li><p><strong>Curso:</strong> {{scamber.course}} </p></li>
                <li><p><strong>Email:</strong> {{user.email}} </p></li>
                <li><p><strong>Whats:</strong> {{scamber.whats}} </p></li>

            </ul>
        </div>
      </div>

      <div class="row" >
        <div class="col" id="showtrade_item1">
          <h1>{{scamber.user}} oferece</h1>
            <img src="/media/{{trade.mainimg}}">
            <h2>{{trade.title}}</h2>
            <h3>{{trade.subtitle}}</h3>
            <h4>Descrição:</h4>
            <p>{{trade.description}}</p>
        </div>
        <div class="col" id="showtrade_item2">
          <h1>e scamba por</h1>
                <img src="/media/{{trade.interestimg}}">
                <h2>{{trade.interest}}</h2>
                <h3>{{trade.subinterest}}</h3>
                <h4>Descrição:</h4>
                <p>{{trade.interestdetails}}</p>
        </div>
      </div>
    </div>


{% endblock %}

{% block footer %}{% endblock %}
