#avatar{
	max-height: 70px;
}

#profile_header{
	text-align: center;
}

body{
	background-color: #F2F2EF;
}

#topmenu{
	background-color: #282A2D;
	height: 16%;
	margin: 0 0 15px 0;
	position: fixed;
	width: 100%;
	z-index: 22;
}


#topmenu_btns{
	top: 30px;
	left: 20px;
}

.pagination{
	position: fixed;
	height: 50px;
	top: 95%;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 25;
	text-align: center;
}

#pagination{
	text-align: center;
	margin-top: 10px;
	margin-left: 40%;
	margin-right: 40%;
}

#mylist{
	position: relative;
	top: 140px;
	background-color: #FFFFFF;
	box-shadow: 1px 2px #839C78;
}

#mylist img{
	height: 150px;
}

#mylist p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#mylist a{

	margin-right: 5px;
	margin-bottom: 10px;
	float: right;
}

#mylist #avatar{
	max-height: 50px;
	max-width: 50px
}

.container #profile{
	text-align: center;
}

.row #profile{
	background-color: #26814e;
	max-height: 70px;
}

.row #profile img{
	margin-top: 10px;
	box-shadow: 0px 0px 0px 1px #D6D6D6;
}

.row #profile h4{
	color: #FFFFFF;
}

#tradebox .col-sm img{
	height: 170px;
	margin: 5px 5px 5px 5px;
}

#tradebox .col-sm{
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 0px 0px 1px #D6D6D6;
}



#tradebox .col-sm p{
	position: absolute;
	top: 70px;
	left: 145px;
	margin-right: 10px;
	text-align: justify;
}

.btn-default{
  
color:#F2F2EF;

}
 
.btn-default:hover, .btn-default:focus, .btn-default:active{
 
	color: #50C653;
	border-style: none;
	 
}


#newtrade .container{
	width: 80%;
}

#newtrade{
	position: relative;
	top: 120px;
	background-color: #FFFFFF;
	box-shadow: 1px 2px #839C78;
}

#newtrade .row .col-6{
	margin-top: 10px;
	box-shadow: 0px 0px 0px 0px #D6D6D6;
}

.row #showtrade_user{
	top: 120px;
	background-color: red;
}